* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5ems;
}

img {
    width: 300px;
    height: 300px;
}

button {
    background: none;
    outline: none;
    border: none;
}